<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/genst.css">
    <title>Password Generator</title>
</head>
<body>
    <div class="container">
        <h1>Password Generator</h1>
        <form action="/generate" method="post">
            <label for="length">Password Length:</label>
            <input type="number" name="length" id="length" min="6" max="20" value="12" required>
            
            <label><input type="checkbox" name="lowercase" checked> Lowercase</label>
            <label><input type="checkbox" name="uppercase" checked> Uppercase</label>
            <label><input type="checkbox" name="digits" checked> Digits</label>
            <label><input type="checkbox" name="special_chars" checked> Special Characters</label>
            
            <button type="submit">Generate Password</button>
        </form>

        {% if password %}
            <div class="result">
                <h2>Your Password:</h2>
                <p>{{ password }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>
